node_modules
*.zip
*.tsbuildinfo
.DS_Store
*.log
android/app/build/outputs

# Environment
.env
.env.local
.env.*.local

# Build
dist/

# Android
android/app/build/

# Logs
*.log

android/app/src/main/assets/public/*
*.tsbuildinfo
*.zip
*.apk
