rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Relax rules since the application uses a custom credentials look-up rather than Firebase Auth
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
